Repository PedroSoaresAT/lighthouse-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @atlastechnol/consultants-fe, @atlastechnol/consultants-be, @atlastechnol/infrastructure, @atlastechnol/infra-production

feat: add lighthouse ci test
  .github/workflows/lighthouse.yml
  .lighthouseci/lhr-1725394380879.html
  .lighthouseci/lhr-1725394380879.json
  .lighthouseci/lhr-1725394393532.html
  .lighthouseci/lhr-1725394393532.json
  .lighthouseci/lhr-1725394405866.html
  .lighthouseci/lhr-1725394405866.json
  .lighthouseci/links.json
  lighthouserc.json
  package.json
  pages/index.vue
  plugins/gtm.client.ts
  yarn.lock
Owners: @atlastechnol/infra-production, @atlastechnol/consultants-fe

feat: testee
  .github/workflows/lighthouse.yml
Owners: @atlastechnol/infra-production

feat: add ci token
  .github/workflows/lighthouse.yml
Owners: @atlastechnol/infra-production

feat: tests lighthouse
  .env.docker
  plugins/gtm.client.ts
Owners: @atlastechnol/consultants-fe

feat: adjust on lhci token
  .github/workflows/lighthouse.yml
Owners: @atlastechnol/infra-production

fix: adjust on gtm key error
  .env.docker
  .lighthouseci/lhr-1725394380879.html
  .lighthouseci/lhr-1725394393532.html
  .lighthouseci/lhr-1725394405866.html
  .lighthouseci/lhr-1725644471493.html
  .lighthouseci/lhr-1725644471493.json
  .lighthouseci/lhr-1725644482931.html
  .lighthouseci/lhr-1725644482931.json
  .lighthouseci/lhr-1725644494120.html
  .lighthouseci/lhr-1725644494120.json
  .lighthouseci/links.json
  plugins/gtm.client.ts
Owners: @atlastechnol/consultants-fe

.github/CODEOWNERS:

* @atlastechnol/consultants-fe

#any
editorconfig @atlastechnol/consultants-fe @atlastechnol/consultants-be

#infra
Dockerfile*         @atlastechnol/infrastructure
docker-compose*.yml @atlastechnol/infrastructure
rootfs/            @atlastechnol/infrastructure

.github/ @atlastechnol/infra-production
/production/ @atlastechnol/infra-production
production/ @atlastechnol/infra-production
